@font-face {
  font-family: fonty;
  src: url('fonts/FLOURISH.ttf');
}

html{
    background-color: limegreen;
}

*{
   margin:0px;
   padding:0px;
    
}

body {
    display: block;
    grid-template-columns: 1fr 1fr 1fr;
    color: : lightblue;
    grid-gap: 40px;
    width: 96%;
    margin: auto;
    font-family: fonty;
}

a{
  margin: 10px;
    
}

.photos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

